[MQTT]
url	                = <MQTT_server_URL>
port	                = <MQTT_port>
keepalive               = 60
reconnect_delay_secs    = 2
topic_id                = <MQTT_sensor_data_topic>
sim_topic               = test
username	        = <MQTT_username>
password		= <MQTT_password>

[CSV]
filename_all            = <output_log_filename_all>
filename_min            = <output_log_filename_min>
filename_hour           = <output_log_filename_hour>
filename_day            = <output_log_filename_day>

[SIMULATOR]
frequency               = 5

